# Today's Agenda
- Sets
> ### What is Sets?
> ### Different ways of creating Sets?
> ### How to call Set elements?
> ### How to apply different set operations?
> ### What are the built-in functions availble in sets!

- **Sets are like lists in that you use them for storing a collection of elements. Unlike lists, however, the elements in a set are nonduplicates and are not placed in any particular order.**
- **with { } we declare a set**
- **sets are unordered and unindexed**
- **set will not allow duplicate elements**

In [7]:
# sets declaration
my_set = { 1,2,3}
print(my_set)

my_set1 = {1,"Hello",3.5}
print(my_set1)

{1, 2, 3}
{1, 3.5, 'Hello'}

In [8]:
# Creating empty set
empty_set = set()
print(type(empty_set))

<class 'set'>

In [9]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

In [10]:
my_set2 = {1,2,3,5,5,5,6,7,8,9}
print(my_set2)

{1, 2, 3, 5, 6, 7, 8, 9}

In [11]:
# creating set using list
my_set= set([1,2,3,4,2])
print(my_set)

{1, 2, 3, 4}

# Built-in Functions

### adding elements into a set

In [12]:
# we cannot assign value directly through index
my_set[1]=21
print(my_set)

TypeError: 'set' object does not support item assignment

### add()

In [13]:
my_set2

{1, 2, 3, 5, 6, 7, 8, 9}

In [14]:
my_set2.add(30) #to add single value
print(my_set2)

{1, 2, 3, 5, 6, 7, 8, 9, 30}

In [15]:
my_set = my_set2.copy()

In [16]:
my_set.add(5)
print(my_set)

{1, 2, 3, 5, 6, 7, 8, 9, 30}

In [17]:
# we can not add multiple elements using add 
my_set.add(3,5)
print(my_set)

TypeError: set.add() takes exactly one argument (2 given)

### update()
- we can add multiple elements using `update`

In [18]:
my_set.update([5,7,8,12]) # multiple values
print(my_set)

{1, 2, 3, 5, 6, 7, 8, 9, 12, 30}

In [19]:
my_set.update([5,99,15],{90,100,75})
print(my_set)

{1, 2, 3, 99, 5, 6, 7, 8, 9, 100, 75, 12, 15, 90, 30}

### sort()

In [20]:
print(my_set)

{1, 2, 3, 99, 5, 6, 7, 8, 9, 100, 75, 12, 15, 90, 30}

In [21]:
sorted(my_set, reverse=True)

[100, 99, 90, 75, 30, 15, 12, 9, 8, 7, 6, 5, 3, 2, 1]

In [22]:
set_as_list = list(my_set)
print(type(set_as_list))

<class 'list'>

### discard()
- Discard will discard the value from the set
- if the value is not there in the set , discard will not throw any error

In [23]:
my_set

{1, 2, 3, 5, 6, 7, 8, 9, 12, 15, 30, 75, 90, 99, 100}

In [24]:
my_set.discard(8)
print(my_set)

{1, 2, 3, 99, 5, 6, 7, 9, 100, 75, 12, 15, 90, 30}

In [25]:
my_set.discard(100)
print(my_set)

{1, 2, 3, 99, 5, 6, 7, 9, 75, 12, 15, 90, 30}

In [31]:
my_set.discard(1000)
print(my_set)

{1, 2, 3, 99, 5, 6, 7, 9, 75, 12, 15, 90, 30}

### remove()
- Remove will remove the value from the set if the value exists, if not 
- it generates error

In [32]:
my_set

{1, 2, 3, 5, 6, 7, 9, 12, 15, 30, 75, 90, 99}

In [33]:
my_set.remove(8)
print(my_set)

KeyError: 8

In [34]:
my_set.remove(1000)
print(my_set)

KeyError: 1000

In [35]:
new_set = set("Welcome to python programming")
print(new_set)

{'h', 'c', 'l', 'n', 't', 'r', 'y', ' ', 'p', 'g', 'a', 'i', 'W', 'o', 'm', 'e'}

### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

In [36]:
new_set.pop()

'h'

In [37]:
new_set.pop()

'c'

### clear()

In [38]:
new_set.clear()

In [39]:
new_set

set()

# Other set operations
- 1. union()
- 2. intersection()
- 3. differeence()

### union()

In [40]:
#Sets union, intersection and difference
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print("A union B", A|B)
print("A union B can also be written as", B|A)
print("Another way of representation",A.union(B))
print("Another way of representation",B.union(A))

A union B {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A union B can also be written as {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Another way of representation {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Another way of representation {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### intersection()

In [41]:
#Sets union, intersection and difference
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print("A intersection B", A&B)
print("A intersection B can also be written as", B&A)
print("Another way of representation",A.intersection(B))
print("Another way of representation",B.intersection(A))

A intersection B {5, 6}
A intersection B can also be written as {5, 6}
Another way of representation {5, 6}
Another way of representation {5, 6}

### difference()

In [42]:
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print("A difference B", A - B)
print("A difference B" , A.difference(B))

A difference B {1, 2, 3, 4}
A difference B {1, 2, 3, 4}

In [43]:
print("A difference B", B - A)
print("A difference B" , B.difference(A))

A difference B {8, 9, 10, 7}
A difference B {8, 9, 10, 7}

### symmetric difference

In [44]:
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}
print(A ^ B)

{1, 2, 3, 4, 7, 8, 9, 10}

In [45]:
#Previous class notes
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}
#Symmetric difference prints values of A and B and eliminates the common
#elements from both the sets
print(A ^ B)

#This can also be written as below notation
print ((A|B) - (A & B))

#Both these gives same output 
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}

# 2. Manipulating and Accessing Sets
- You can add an element to a set or remove an element by using the add(e) or remove(e) method. You can use the len, min, max, and sum functions on a set, and a for loop to traverse all elements in a set. You can use the in or not in operator to determine whether an element is in the set.

In [46]:
s1 = {1, 2, 4}
s1.add(9)
s1

{1, 2, 4, 9}

In [47]:
print("length is", len(s1)) # Use function len
print("max is", max(s1)) # Use max
print("min is", min(s1)) # Use min
print("sum is", sum(s1)) # Use sum

length is 4
max is 9
min is 1
sum is 16

In [48]:
4 in s1

True

In [49]:
100 in s1

False

In [50]:
4 not in s1

False

In [57]:
100 not in s1

True

## issuperset()

In [59]:
x={1,2,3,4,5,6,7}
y={5,6,7}
x.issuperset(y)

True

## issubset()

In [56]:
y={1,2,3,4,5,6,7}
x={5,6,7}
x.issubset(y)

True